<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>133</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>132</string>
							<key>Timestamp</key>
							<string>734278905.786016</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>DonorTrack/Activities/DonationHistory/DonationsListView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>#Preview("List With Data") {
</string>
						<key>leading</key>
						<string>
// MARK: - Preview
</string>
						<key>trailing</key>
						<string>	//	let preview = DataController.shared
	return DonationsListView(dataController: .preview)
		.environmentObject(DataController.preview)
</string>
					</dict>
					<key>title</key>
					<string>Fix this so I can remove all the extra DataController stuff</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Todo</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>24</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>23</string>
					<key>Timestamp</key>
					<string>734140177.352018</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>DonorTrack/Donation+CoreDataHelpers.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		return results/*.sorted()*/
</string>
				<key>leading</key>
				<string>	var donationAllInfo: [DonationInfo] {
		let results = allInfo?.allObjects as? [DonationInfo] ?? []
</string>
				<key>trailing</key>
				<string>	}

	var donationNotes: String {
</string>
			</dict>
			<key>title</key>
			<string>Add some type of sorting</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
